body {
    background-color: darkslategray;
}
h1{
    color: white;
    font-family:Courier;
    background-color: blue;
}
h2{
    color: aquamarine;
    font-family:Courier;
}
h3{
    color:blue;
    font-family: Courier;
}
p1{
    color:lime;
    font-family:Courier;
}
footer{
    color:red;
    font-family:Courier;
}