*{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
}
html{
    background-color: rgb(52,0,128);
}
li{
    border:cadetblue 5px outset;
    background-color: cadetblue;
    border-radius: 8px;
    height: 5px;
    padding-bottom: 5px;
    padding-top:0%;
}
li a{
    color:white;
    padding: 0px 6px;
    text-decoration:none;
    float: left;
    height: auto;
    padding-top:0%;
}
li a:hover{
    background-color: rgb(36, 0, 90);
    border:rgb(36, 0, 90) 5px outset;
    border-radius: 10px;
}
.lineO{
    border-radius: 5px;
    text-align:left; 
    min-width:95px; 
    min-height:auto; 
    max-height:30px;
}
h1{
    margin: 2px; 
    margin-right: 0px;
    width: auto;
    height: auto;
}
li{
    margin-left: 10px;
    text-align:end; 
    min-width:95px; 
    min-height:30px; 
    max-width:fit-content; 
    float:right;
    list-style-type: none;
}
header{
    height:40px;
    max-height: auto;
    background-image:linear-gradient(to right,rgb(128,0,128),black);
    width:fill;
}
body{
    text-align:left;
}
.right{
    background-color:cadetblue;
    float:right;
    display: block;
    border:cadetblue 5px outset;
    border-radius: 10px;
    width: 250px;
}
.left{
    border:rgb(83,0,128) 5px outset;
    min-width:15%;
    max-width: 95% ;
    border-radius: 10px;
    background-color: rgb(83,0,128);
    margin-top:5px;
}
article{
    height:fit-content;
    padding-left: 5px;
    
}